{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
</head>
<body>
    <main>
        <div>
            <div class="block-4">
                <h2>АнхТВ</h2>
            </div>
            <div class="block-5">
                <div class="picture_3">
                    <img src="{% static 'img/youtube.png' %}">
                </div>
                <div class="picture_3">
                    <img src="{% static 'img/instagram.jpg' %}">
                </div>
                <div class="picture_3">
                    <img src="{% static 'img/contact.png' %}">
                </div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li class="current_page_item"><a href="{% url 'index' %}"><h3>Главная</h3></a></li>
                <li class="current_page_item"><a href="{% url 'news' %}"><h3>Новости</h3></a></li>
                <li class="current_page_item"><a href="#"><h3>Телепрограмма</h3></a></li>
                <li class="current_page_item"><a href="#"><h3>Прямой эфир</h3></a></li>
                <li class="current_page_item"><a href="#"><h3>Видеотека</h3></a></li>
                <li class="current_page_item"><a href="#"><h3>16+</h3></a></li>
            </ul>
        </div>
    </main>
</body>
</html>